<html>
    <head>
        <title>Student Edit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Update &#8216;{{ student.getName }}&#8217;</h1>

            <form action="/students/{{ student.getId }}" method="post">
              <input name="_method" type="hidden" value="patch">

              <label for="name">Update your student name:</label>
              <input id="name" name="name" type="text">

              <button type="submit">Update</button>
            </form>
        </div>
    </body>
</html>
